
.game h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .points span {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .tip span {
    color: gold;
    font-size: 1.2em;
  }
  
  .wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 10px solid gold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .letter, .blankSquare {
    font-size: 2em;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .letter:hover, .blankSquare:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }
  
  .letterContainer p {
    margin-bottom: 1.2em;
    text-align: center;
    font-size: 1.2em;
  }
  
  .letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .letterContainer input:focus {
    outline: none;
    border-color: gold;
    background-color: #f0f0f0;
    transform: scale(1.05);
  }