* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#svg-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
    width: 100vw;  /* Ocupa a largura total da tela */
}

svg {
    width: 150px;  /* Ajuste conforme necessário */
    height: 150px; /* Ajuste conforme necessário */
}
