#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

#nav h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

#nav a {
  color: white;
  text-decoration: none;
}

#nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

#nav-links li {
  display: flex;
  align-items: center;
}

#nav-links li span {
  cursor: pointer;
  color: #fff;
}

#nav-links li a svg {
  width: 24px; /* Ajuste o tamanho dos ícones */
  height: 24px;
}


#nav-links li a {
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* Responsividade */
@media (max-width: 768px) {
  #nav {
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-links {
    flex-direction: column;
    gap: 10px;
  }
}