.post_detail {
  margin-right: 10em;
  margin-left: 10em;
  margin-bottom: 5em;
  text-align: center;
}

.post_detail img {
  width: 55%;
  max-height: 600px;
  margin-bottom: 3px;
}

.post_image {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.244);
  transition: box-shadow 0.5s;
  border-radius: 8px;
}

.post_image:hover{
  box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.187);
}

.post_detail h2 {
  margin-bottom: 0.4em;
  max-width: 60%;
  margin: auto;
  font-size: 22px;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.post_detail .detail_tags {
  display: flex;
  justify-content: center;
}

.post_detail .detail_tags p {
  padding-right: 8px;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  margin-bottom: 1em;
}


.line_break {
  line-break: normal;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid rgba(69, 69, 69, 0.141);
}